asyncio>=3.4.3
dowhy>=0.12
econml>=0.15.1
graphviz>=0.21
ipython>=8.37.0
ipywidgets>=8.1.7
joblib>=1.5.1
langchain>=0.3.26
langchain-core>=0.3.66
langchain-groq>=0.3.4
langgraph>=0.4.9
markdown>=3.8.2
matplotlib>=3.10.3
numpy==1.26.4
pandas>=2.3.0
pdfkit>=1.0.0
pydantic>=2.11.7
pydot>=4.0.1
python-dotenv>=1.1.1
scikit-learn>=1.5.2
seaborn>=0.13.2
typing>=3.10.0.0
typing-extensions>=4.14.0
